useDynLib(tnam)
import("methods")
import("utils")
import("network")
importFrom("stats", "dist", "gaussian", "glm", "na.omit")
import("xergm.common")
importFrom("sna", "gden")
importFrom("sna", "sedist")
importFrom("sna", "geodist")
importFrom("sna", "evcent")
importFrom("sna", "degree")
importFrom("sna", "betweenness")
importFrom("sna", "flowbet")
importFrom("sna", "closeness")
importFrom("sna", "infocent")
importFrom("sna", "loadcent")
importFrom("sna", "bonpow")
importFrom("sna", "clique.census")
importFrom("lme4", "lmer")
importFrom("lme4", "glmer")
importFrom("vegan", "vegdist")
importFrom("igraph", "graph.adjacency")
importFrom("igraph", "transitivity")
importFrom("Rcpp", evalCpp)
export("netlag")
export("weightlag")
export("interact")
export("covariate")
export("structsim")
export("centrality")
export("degreedummy")
export("clustering")
export("cliquelag")
export("tnamdata")
export("tnam")
